body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

/* Flexbox styling to center the list */
.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Vertically center the items */
	align-items: center; /* Horizontally center the items */
	height: 100vh; /* Full viewport height for demonstration */
}

.size {
	font-size: 40px;
}
